body{
    background-color: #ececec;
}
.searchStock{ /* div 검색칸 위치와 폰트 설정 */
    font-family: 'Gowun Batang', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.sbox{ /* select box */
    position: absolute;
    font-family: 'Gowun Batang', serif;
    width: 80px;
    height: 35px;
    top: 3px;
    padding: .5em .3em;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 10px;
    left: -90px;
}
.sbox:focus,
.sbox:hover{
    box-shadow: .5px .5px 5px 1px rgb(187, 187, 187); /* 그림자 설정 */
    box-shadow: blur;
    outline: none;
}
.input{ /* 검색바 */
    font-family: 'Gowun Batang', serif;
    padding: 10px 40px; /* input 내부 간격 */
    border-radius: 25px;
    border: 1px solid #bbb;
    width: 350px;
}
.magGlass{ /* 돋보기 아이콘 */
    position: absolute;
    border: none;
    background-color: transparent;
    left: 6px;
    top: 13px;
    color: rgb(154, 154, 154);
    display: inline-block;
}
.close{ /* input창 X버튼 */
    position: absolute;
    color: rgb(154, 154, 154);
    background-color: transparent;
    border: none;
    right: 11px;
    top: 13px;
    cursor: pointer;
    display: inline-block;
}
input:focus,
input:hover{
    box-shadow: .5px .5px 5px 1px rgb(187, 187, 187); /* 그림자 설정 */
    box-shadow: blur;
    outline: none;
}

.close:focus,
.close:hover{ /* X표시 아이콘에 마우스 올라갔을 때, 클릭했을 때 색깔 변화 */
    color: rgb(133, 133, 133);
}
.Now{ /* 현재 시간 >> */
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: small;
    background-color: black;
    color: #e8e8e8;
    width: 98%;
    padding: 2px;
    position: absolute;
    margin: 0;
}
.time{ /* 시간 출력창 */
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    font-size: small;
    background-color: transparent;
    color: #e8e8e8;
    padding: 2px;
    position: absolute;
    left: 85px;
    margin: 0;
}
.result{
    position: absolute;
    color: black;
    font-size: 14px;
    width: 400px;
    margin: 10px;
    padding: 10px;
}
.csstime{
    display: inline-block;
    font-weight: 700;
    width: 145px;
    color: rgb(58, 121, 237);
    margin: 2px;
}
.del{
    float: right; /* 오른쪽 정렬 */
    border: none;
    background: transparent;
    color: rgb(154, 154, 154);
    cursor: pointer;
}
.del:hover,
.del:focus{ /* 삭제버튼 마우스 가까이 갔을 때, 클릭했을 때 */
    color: rgb(133, 133, 133);
}
.blueprice{ /* 등락률이 하락세일때 */
    display: inline-block;
    font-weight: 700;
    color: rgb(0, 0, 255);
    margin: 0;
}
.redprice{ /* 등락률이 상승세일때 */
    display: inline-block;
    font-weight: 700;
    color: rgb(255, 0, 0);
    margin: 0;
}
.blackprice{ /* 등락률이 0일때 */
    display: inline-block;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0;
}
