<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/myStyle.css">    <!--css 호출-->
    <script src="js/myScript.js"></script>    <!--js 호출-->
    <link rel="preconnect" href="https://fonts.googleapis.com">    <!--google font 호출-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    <!--google font 호출-->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">    <!--google font 호출-->
    <script src="https://kit.fontawesome.com/efcb98e1c1.js" crossorigin="anonymous"></script>    <!--아이콘 fontawesome kit-->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>    <!--jquery CDN-->
    <title>주식 검색 사이트</title>
</head>

<body>
    <p class="Now">현재시간 >> </p> <!--현재 시간-->
    <p class="time" id="time"></p> <!--server time 출력-->

    <!--input-->
    <div class="searchStock">

        <!--최초에 보이는 상태(회사명 select)-->
        <div id="d1" style="display:block">
            <button class="magGlass"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" id="input" class="input" onkeypress="searchStockName()" placeholder="회사명을 입력하세요.">
            <button class="close" onclick="fClose()"><i class="fa-sharp fa-solid fa-circle-xmark"></i></button>
        </div>

        <!--결과출력창-->
        <p class="result" id="result"></p>

    </div>


</body>

</html>